{% extends 'base.html.twig' %}
{% block body%}
    <div class="container h-100 justify-content: space-between;">
        <nav class="navbar navbar-expand-lg HeaderColor border">
            <a class=" col-md-8 red-bold" href="#">BORSChat</a>
            <div class="collapse navbar-collapse col-md-4">
                <p class="nav-link m-0 pr-2"></p>
                <form class="form-inline my-2 my-lg-0">
                    <div class="row">
                    <div class="profile">
                        <p class="m-0 red-bold">{{app.user.name}}</p>
                        <p class="m-0">Заходил:<span class="date">{{app.session.get('lastVisit')|date("H:i d-n-Y")}}</span></p>
                    </div>
                    <a class="btn btn btn-secondary my-2 my-sm-0 ml-2" href="{{ path('profile_logout')}}" >Выйти</a>
                    </div>
                </form>
            </div>
        </nav>
        <div class="container home-main">
            <div class="row">
                    <div class="room-box">
                        <div class="home-link">
                            <p class="text-header-column">Выбрать комнату:</p>
                        </div>
                        <a class="room-link" href="#">Комната №</a>
                        <a class="room-link" href="#">Комната №</a>
                        <a class="room-link" href="#">Комната №</a>
                        <a class="room-link" href="#">Комната №</a>
                        <a class="room-link" href="#">Комната №</a>
                    </div>
                    <div class="content-box">

                                <div class="main-block">
                                            <div class="chat-messages" >
                                                <div class="show-more-messages">
                                                <a href="#" id="link-show-more-messages" class="link-show-more-messages">••• показать еще •••</a>
                                                </div>
                                                <script type="text/javascript"> var currentId = {{ app.user.id }}</script>
                                                    <div id="get-more-messages"></div>
                                                    <div id="get-first-messages"></div>
                                            </div>
                                            <div class="chat-form">
                                                {{ form_start(formMessage) }}
                                                {{ form_widget(formMessage) }}
                                                {{ form_end(formMessage) }}
                                                <div class="error-mess" id="errorMess"></div>
                                            </div>
                                </div>
                    </div>
            </div>
        </div>
    </div>
    <script src="/js/main.js"></script>
{% endblock %}
